<nav class="navbar navbar-inverse" role="navigation">
 
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Skeeters Baseball Club</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Schedule</a></li>
      <li><a href="#">Roster</a></li>
      <li><a href="#">Sponsors</a></li>
      <!--
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li> -->
    </ul>
    <!--
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    -->
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Login</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->

</nav>
<div class="home-container">
  <div class="container">
      <div class="row">
        <div class="col-md-6">
           <div class="blockquote-text">
          <%= image_tag 'skeeter.png', class: "img-responsive" %>
        </div>
        </div>
        <div class="col-md-6">
         <div class="blockquote-text">
            
            <h2>Welcome to Skeeters Baseball</h2>
            <p>Lorem ipsum dolor sit amet, congue percipit comprehensam ne has. Eos ferri ceteros suscipit an, modo legere mollis id vix. Id mel populo appellantur, vim cu deleniti probatus. Dolor aliquam fastidii vis et. Ei autem dolor adipiscing vim. Lorem ipsum dolor sit amet, congue percipit comprehensam ne has. Eos ferri ceteros suscipit an, modo legere mollis id vix. Id mel populo appellantur, vim cu deleniti probatus. Dolor aliquam fastidii vis et. Ei autem dolor adipiscing vim.</p>
            <small><%= link_to "Read more..." %></small>
          </div>
          
        </div>
      </div>
  </div>
</div>




<div class="bottom-home">

  <div class="container">
    <div class="row">
      <div class="col-md-8">
        
        
        <div class="thumb-box pad-top-20">
            <a href="#">
              <%= image_tag "thumb_1.jpg", size: "150x150", class: "img" %>
            </a>
            <h3 class="m-170 no-top">Coaching Staff</h3>
            <p class="m-170">Lorem ipsum dolor sit amet, congue percipit comprehensam ne has. Eos ferri ceteros suscipit an, modo legere mollis id vix.</p>
            <h5 class="m-170"><%= link_to "View Coaches Info" %></h5>
        </div>
        <div class="thumb-box">
            <a href="#">
              <%= image_tag "thumb_1.jpg", size: "150x150", class: "img" %>
            </a>
            <h3 class="m-170 no-top">Player Bios</h3>
            <p class="m-170">Lorem ipsum dolor sit amet, congue percipit comprehensam ne has. Eos ferri ceteros suscipit an, modo legere mollis id vix.</p>
            <h5 class="m-170"><%= link_to "View Player Bios" %></h5>
        </div>
        
        


      </div>
      <div class="col-md-4">
        <h2>Upcoming</h2>
        <p>Lorem ipsum dolor sit amet, congue percipit comprehensam ne has. Eos ferri ceteros suscipit an, modo legere mollis id vix. Id mel populo appellantur, vim cu deleniti probatus. Dolor aliquam fastidii vis et. </p>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>Our Sponsors</h2>
  </div>
</div>


<div class="footer">
  <div class="container">
    <p>&copy; Skeeters Baseball Club <%= Time.now.strftime('%Y') %></p>
  </div>
</div>


  <!--
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail">
        <img src="http://ipsumimage.appspot.com//140x150" alt="...">
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail">
        <img src="http://ipsumimage.appspot.com//140x150" alt="...">
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail">
        <img src="http://ipsumimage.appspot.com//140x150" alt="...">
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail">
        <img src="http://ipsumimage.appspot.com//140x150" alt="...">
        </a>
      </div>
      
    </div>
  </div>
-->

