<%= render 'partials/nav' %>

<%= render 'carousel' %>


<div class="home-container">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="blockquote-text">
          <h2>Welcome to Skeeters Baseball</h2>
          <p>Lorem ipsum dolor sit amet, congue percipit comprehensam ne has. Eos ferri ceteros suscipit an, modo legere mollis id vix. Id mel populo appellantur, vim cu deleniti probatus. Dolor aliquam fastidii vis et. Ei autem dolor adipiscing vim. Lorem ipsum dolor sit amet, congue percipit comprehensam ne has. Eos ferri ceteros suscipit an, modo legere mollis id vix. Id mel populo appellantur, vim cu deleniti probatus. Dolor aliquam fastidii vis et. Ei autem dolor adipiscing vim.</p>
          <p><%= link_to "Read more..." %></p>
        </div>
        <div class="thumb-box pad-top-20">
          <div class="row">
            <div class="col-md-3 col-xs-5 col-sm-3">
              <a href="#">
                <%= image_tag "thumb_1.jpg", class: "img img-responsive" %>
              </a>
            </div>
            <div class="col-md-9 col-xs-7 col-sm-9">
              <h3 class=" no-top">Coaching Staff</h3>
              <p>Our coaches have 20 years combined coaching experience. Learn more about their experience and background.</p>
              <h5><%= link_to "View Coaches Info" %></h5>
            </div>
          </div>
        </div>
        <div class="thumb-box pad-top-20">
          <div class="row">
            <div class="col-md-3 col-xs-5 col-sm-3">
              <a href="#">
                <%= image_tag "thumb_1.jpg", class: "img img-responsive" %>
              </a>
            </div>
            <div class="col-xs-7 col-md-9 col-sm-9">
              <h3 class="no-top">Player Bios</h3>
              <p>Find out more about our players and a few of their favorite things.</p>
              <h5><%= link_to "View Player Bios", profiles_path %></h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <h2>Upcoming</h2>
        <p>Lorem ipsum dolor sit amet, congue percipit comprehensam ne has. Eos ferri ceteros suscipit an, modo legere mollis id vix. Id mel populo appellantur, vim cu deleniti probatus. Dolor aliquam fastidii vis et. </p>          
      </div>
    </div>
  </div>
  <%= render 'partials/footer' %>
</div>


  <!--
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail">
        <img src="http://ipsumimage.appspot.com//140x150" alt="...">
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail">
        <img src="http://ipsumimage.appspot.com//140x150" alt="...">
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail">
        <img src="http://ipsumimage.appspot.com//140x150" alt="...">
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail">
        <img src="http://ipsumimage.appspot.com//140x150" alt="...">
        </a>
      </div>
      
    </div>
  </div>
-->

